[submodule "WavesGame/Assets/Scripts/UUtils"]
	path = WavesGame/Assets/Scripts/UUtils
	url = git@github.com:YvensFaos/UUtils.git
[submodule "WavesGame/Assets/Scripts/FALLA"]
	path = WavesGame/Assets/Scripts/FALLA
	url = https://github.com/YvensFaos/FALLA.git
